@media (max-width:1200px){
    .watercolor-right {
        right: -40%;
    }
    .icon-spark {
        top: 16%;
        right: 28%;
    }
    .icon-location {
        right: -7%;
    }
    .icon-spark_bg {
        top: 20%;
        left: 8%;
    }
    h1{
        font-size: 95px;
        margin: 0;
    }
}
@media (max-width:991.8px){
    
    h1{
        color:#fff;
    }
    .promo{
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/promo/bg_mob.webp) center center / cover no-repeat;
    }
    .promo_bg {
        display: none;
    }

    .promo_blur {
        display: none;
    }
    .icon-delivery {
        top: -10%;
    }
    .icon-bunny {
        top: 0%;
        width: 150px;
        height: 130px;
        left: 0;
    }
    .icon-bottle {
        top: 27%;
        right: 0;
        width: 100px;
    }
    .icon-pacifier {
        top: 30%;
        left: 18%;
        width: 80px;
    }
    .watercolor-left{
        left: 30%;
    }
    .watercolor-right {
        right: 60%;
        top: 15%;
    }
    .icon-spark {
        top: 0;
        right: 35%;
        width: 100px;
    }
    .icon-heart1 {
        top: 0;
        width: 70px;
    }
    .icon-cupid {
        top: -10%;
        left: 0;
        width: 100px;
    }
    .icon-airplane {
        top: 30%;
        width: 80px;
    }
    .icon-cloud {
        width: 100px;
    }
    .icon-location {
        width: 80px;
    }
    .icon-doodles {
        width: 80px;
    }
    .icon-spark_bg {
        top: 10%;
    }
    .year {
        font-size: 2.2rem;
    } 
    .digit {
        padding: 5px;
    }
    p{
        font-size: 32px;
    }  
}
@media (max-width: 768px) {
    body, html {
        overflow: visible;
    }
    .album-section{
        position: relative;
        opacity: 1;
        height:auto;
        transform: none;
        transition: all;
    }
    .album-container{
        overflow: visible;
    }
    .album-section::before{
        display: none;
    }
    section{
        padding: 30px 0;
    }
    h1{
        font-size: 80px;
        color:#fff;
        margin: 0;
    }
    h3{
        z-index: 1;
    }      
    p{
        font-size: 32px;
    }
    .icon-delivery {
        top: 5%;
        right: 0%;
    }
    .icon-bunny {
        top: 10%;
    }
    .icon-bottle {
        top: 28%;
        right: 0%;
        width: 100px;
    }
    .icon-pacifier {
        top: 32%;
        left: 18%;
        width: 80px;
    }
    .watercolor-right {
        left: 60%;
        top: 15%;
    }
    .icon-spark {
        top: 29%;
        right: 39%;
    }
    .icon-note-2 {
        top: 35%;
        left: 5%;
    }
    .icon-cupid {
        top: 0;
        left: 5%;
    }
    .icon-location {
        width: 100px;
        right: 0;
    }
    .icon-doodles {
        width: 150px;
    }
    .icon-spark_bg {
        right: 0;
        top: 15%;
    }
    .vote {
        flex-direction: column;
    }
    .vote button {
        margin-bottom: 20px;
    }
    @keyframes droplet {
        0% {
          opacity: 0.7;
          transform: scale(0.5) translate(30%, 30%); /* Начальный размер капли */
        }
        100% {
          opacity: 0;
          transform: scale(10) translate(30%, 30%); /* Капля расплывается на весь блок */
        }
    }
}
@media (max-width: 576px) {
    .icon-spark_bg {
        left: 0;
        top: 5%;
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-height: 600px) {
    .album-section {
        padding: 10px;
        min-height: auto;
    }

    .title h1 {
        font-size: 36px;
        line-height: 1.2;
    }

    .description p {
        font-size: 24px;
    }
}